body {
    font-family: Arial, sans-serif;
    background-image: url(background4.jpeg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





.title {
    font-size: 24px;
    margin: 0;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    50% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}


.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff5733;
    /* Change color on hover */
}


.container {
    background-color: rgba(255, 255, 255, 0.444);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 600px;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}